<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RickAndMorthy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CDA1B3F2CA2A30600DAFAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CDA1B4F2CA2A30800DAFAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CDA1B592CA2A30800DAFAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
